/* .first-component{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
   
   
}

.right-component{
    width: 980px;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2em;
    border-left: 2px solid #f8f4f4;
    padding-left: 2em; 
}

.array-display{
    width: 980px;
    height: 360px;
}

.right-component .img {
    width: 100%;
    height:360px ; 
}

.head-arrow{
    width: 170px;
    display: flex;
    justify-content: space-between;
}

.left-component{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 2em;
    
}

.arrow{
    position: absolute;
    width: 2em;
    height: 2em;
    color: white;
    filter: drop-shadow(0px 0px 5px #555);
}

.arrow-left {
    left: 1em;
}
.arrow-right{
    right: 2em;
}

.circle-indicators{
    display: flex;
    position: absolute;
    bottom: 1em;
    right: 28em;
   
}

.current-indicator{
    background-color: red;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: 2px solid white;
    outline: none;
    margin: 0 0.2em;
    cursor: pointer;
}

.hide-current-img{
    display: none;
}

.inactive-current-indicator {
    background-color: gray;
    border: none;
} */


.first-component {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.right-component {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2em;
    border-left: 2px solid #f8f4f4;
    padding-left: 2em;
}

.array-display {
    width: 100%;
    height: 360px;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.right-component .img {
    width: 100%;
    height: 360px;
    object-fit: cover; /* This keeps images proportional */
}

.right-component .image {
    width: 100%; /* Ensure images take up equal width */
    height: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.head-arrow {
    width: 170px;
    display: flex;
    justify-content: space-between;
}

.left-component {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 2em;
}

.hide-current-img {
    display: none;
}

.inactive-current-indicator {
    background-color: gray;
    border: none;
}
